---
import "../styles/global.css";
import { Image } from "astro:assets";
import Logo from "../assets/logo-light.svg";
import Umami from "../components/Umami.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta name="generator" content={Astro.generator} />
		<Umami id="7562b1e3-365c-466d-be4e-1728291c0876" />
		<title>Bizzly | De AI-assistent voor ondernemers</title>
		<meta name="description" content="Bizzly is jouw slimme AI-assistent voor ondernemersvragen over marketing, boekhouden en bedrijfsvoering. Ontdek hoe jij als zelfstandige minder hoeft uit te zoeken — en meer kunt ondernemen." />

		<!-- Open Graph Meta Tags -->
		<meta property="og:title" content="Bizzly | De AI-assistent voor ondernemers" />
		<meta property="og:description" content="Bizzly is jouw slimme AI-assistent voor ondernemersvragen over marketing, boekhouden en bedrijfsvoering. Ontdek hoe jij als zelfstandige minder hoeft uit te zoeken — en meer kunt ondernemen." />
		<meta property="og:url" content="https://bizzly.nl" />
		<meta property="og:type" content="website" />

		<!-- Twitter Card Meta Tags -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="Bizzly | De AI-assistent voor ondernemers" />
		<meta name="twitter:description" content="Bizzly is jouw slimme AI-assistent voor ondernemersvragen over marketing, boekhouden en bedrijfsvoering. Ontdek hoe jij als zelfstandige minder hoeft uit te zoeken — en meer kunt ondernemen." />
	</head>
	<body>
	<header class="bg-background border-b">
		<div class="container">
			<div class="flex items-center justify-between py-4 sm:py-6">
				<a href="/">
					<Image src={Logo} alt="Bizzly" class="h-8 sm:h-10 w-auto"/>
				</a>
				<div class="flex gap-4">
					<a href="mailto:hello@bizzly.nl" class="hidden sm:inline-flex items-center justify-center gap-2 h-10 bg-background border text-sm font-medium rounded-full px-4 hover:bg-muted duration-150">Deel je ideeën</a>
					<a href="https://bizzly.nl#cta" class="inline-flex items-center justify-center gap-2 h-10 bg-primary text-primary-foreground text-sm font-medium rounded-full px-4 hover:bg-primary-dark duration-150">Inschrijven</a>
				</div>
			</div>
		</div>
	</header>
	<main>
		<slot />
	</main>
	<footer class="bg-muted py-8">
		<div class="container">
			<div class="flex justify-between items-center">
				<div class="flex items-center gap-4">
					<Image src={Logo} alt="Bizzly" class="h-8 sm:h-10 w-auto"/>
					<p class="text-sm text-muted-foreground">© 2025 Bizzly. Alle rechten voorbehouden.</p>
				</div>
				<div class="flex gap-8">
					<a href="/privacybeleid" class="underline text-sm text-muted-foreground">Privacybeleid</a>
				</div>
			</div>
		</div>
	</footer>

	<script src="../utils/aos.js"></script>
	</body>
</html>
